<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/noticestyle.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/">IT TIME</a>
        </li>
        <li>
            <a href="/Q&ABoard">게시판</a>
        </li>
        <li>
            <a href="/notice">공지사항</a>
        </li>
    </ul>
</header>
<div class="noticeBoard">
    <div class="boardHeader">
        <h2><%=title%></h2>
        <form class="search">
            <input type="search" name="keyword" placeholder="제목으로 검색" class="keyword" autocomplete="off" style="width:80%; height:35px; margin:3px;">
            <input type="submit" class="submit" value="검색" style="width:40px;height:35px;margin-right:5px; float:right;">
        </form>
    </div>

    <div class = "list">
        <%
        for(var i = 0; i<length;i++){
        if(i > length){
            i++;
        }else{
            var data = list[i]
        %>

        <article>
            <a href = <%= data.url %>>
            <h3><%= data.title %></h3>
            <h4><%= data.date %></h4>
            </a>
        </article>

        <% }
        }
        %>
    </div>
</div>
</body>
</html>


